@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');   

:root{
    --red:#FF0F00;
    --blue:#0037ff;
    --yellow:#FFE70E;
    --gold:#D4B02D;
    --green:#11d100;
    --purple:#CA2ACD;
    --black:#000000;
    --dark-grey:#333333;
    --grey:#737373;
    --light-grey:#8D8D8D;
    --semi-light-grey:#EBEBEB;
    --white:#FFFFFF;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Raleway', sans-serif;
}



/* Off Canvas */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top:100px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding: 50px 50px 0 50px;
      overflow-y: auto;
      visibility: hidden;
      background-color: var(--dark-grey);
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }

    .offcanvas-collapse.open .nav-link {
      font-size: xx-large;
      text-align: center;
  }
    .offcanvas-collapse.open .nav-link:hover {
        background-color: var(--white);
        color: var(--dark-grey) !important;
    }
  }

/* End Off Canvas */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--semi-light-grey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* End Scrollbar */

/* Navbar */
.nav-link {
    color: #fff !important;
    font-size: large;
}

.primary-nav{
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.navbar-brand{
  margin: 50px 0px 50px 50px;
}

.navbar-toggler{
  margin-right: 50px;
}

.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 100px !important;
}

.shrink .navbar-brand{
  margin: 20px 0px 20px 0px;
}

.shrink .navbar-toggler{
  margin-right: 0px;
}

.cv-btn {
  background: var(--dark-grey);
  color: var(--dark-grey);
  cursor: pointer;
  
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}

.cv-btn::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.cv-btn:hover {
  background: var(--red);
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #ff000061;
  padding: 0px 1.5rem 0px 1.5rem;
  color: var(--white);
}
.cv-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: var(--white);
}

/* End Navbar */



/* Welcome Screen */
#welcome-screen{
    background: url(pictures/pexels-adrien-olichon-2387793.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    margin-bottom: -9vh;
}

.welcome-main {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }

  .bounce {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }
/* End Welcome Screen */

/* About Me */

.nav-tabs {
  border: 0;
  
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-tabs>.nav-item>.nav-link {
  color: var(--dark-grey) !important;
  margin: 5px 25px 5px 25px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  padding: 11px 23px;
  line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
  background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
  background-color: var(--dark-grey);
  border-radius: 30px;
  color: var(--white) !important;
}

.common-button{
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  background-color: var(--dark-grey);
  border-radius: 30px;
  color: var(--white) !important;
}

article{
  padding-bottom: 25px;
}

ul {
  list-style-type: none;
}

#about-me {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

#about-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-light-grey);
  transform: skewY(4deg);
}

img.myface{
    height: 100% !important;
    width: 100%;
    align-content: center;
}

h1.mytitle{
    padding-top: 14vh;
    padding-bottom: 6vh;
}

p.mydescription{
    font-size: 20px;
    padding-bottom: 20px;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.kartu{
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--dark-grey)!important;
    color: var(--white);
}

.kartu img{
  padding: 20px 0px 20px 0px;
}

  


  @keyframes draw {
    0% {
      height: 0;
    }
  }

  #brands{
    padding: 5vh 0 5vh 0;
  }

  .logos img{
    height: 15vh;
    padding: 20px 0 20px 0;
  }
/* End About Me */

/* Work */

.work {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
}
.work ul {
  padding-top: 50px;
  position: relative;
}
.work ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative;
}
.work ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.work ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.work ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.work ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.work ul li a:hover:after {
  opacity: 1;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  width: 21px;
  height: 21px;
}

#work{
    margin-top: -8vh;
    background-color: var(--dark-grey);
    margin-bottom: -9vh;
    padding-bottom: 16vh;
}

a.work{
  padding: 0 10px 0 10px;
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 5px;
  text-decoration: none;
}

h1.work{
    font-size: 48px;
    padding: 100px 0px 60px 0px;
    color: var(--semi-light-grey);
}

#work-title{
    padding-top: 10vh;
    color: var(--white);
}

#work-title2{
    padding-top: 3vh;
    color: var(--white);
}

#work-desc{
    color: var(--white);
    margin-right: 30px;
}

.btn {
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
}

.btn i{
  color: var(--white);
}

.btn:hover {
	background-color:var(--dark-grey);
  box-shadow: 3px 4px 10px 0px var(--white);
  color: var(--black);
}
/* End Work */

/* Contact Us */
#contactus {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

#contactus:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-light-grey);
  transform: skewY(-3deg);
  
}

#contactus h1{
    padding: 60px 0px 0px 0px;
    text-align: center;
}

#contactus h4{
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.inbound-form-wrapper{
  margin-bottom: 50px;
}


/* End Contact Us */

/* Footer */
footer{
    /* background-color: var(--dark-grey); */
    background: url(pictures/pexels-adrien-olichon-2387793.jpg);
    padding-top: 14vh;
    margin-top: -7vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer img{
    margin-bottom: 60px;
}

#ending{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
}
/* End Footer */