@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');   

:root{
    --red:#FF0F00;
    --blue:#0037ff;
    --yellow:#FFE70E;
    --gold:#D4B02D;
    --green:#11d100;
    --purple:#CA2ACD;
    --black:#000000;
    --dark-grey:#333333;
    --grey:#737373;
    --light-grey:#8D8D8D;
    --semi-light-grey:#EBEBEB;
    --white:#FFFFFF;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Raleway', sans-serif;
}

a,
a:link {
 
  text-decoration: none;
}


/* Off Canvas */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top:100px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding: 50px 50px 0 50px;
      overflow-y: auto;
      visibility: hidden;
      background-color: var(--dark-grey);
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }

    .offcanvas-collapse.open .nav-link {
      font-size: xx-large;
      text-align: right;
  }
    .offcanvas-collapse.open .nav-link:hover {
        background-color: var(--white);
        color: var(--dark-grey) !important;
    }
  }

/* End Off Canvas */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--semi-light-grey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey); 
}
/* End Scrollbar */

/* Navbar */
.nav-link {
    color: #fff !important;
    font-size: large;
}

.primary-nav{
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.navbar-brand{
  margin: 50px 0px 50px 50px;
}

.navbar-toggler{
  margin-top: 0;
  margin-right: 50px;
}

.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 120px !important;
}

.shrink .navbar-brand{
  margin: 10px 0px 0 0px;
}

.shrink .navbar-brand img{
  height: auto;
}

.shrink .navbar-toggler{
  margin-right: 10px;
}

.cv-btn {
  background: var(--dark-grey);
  color: var(--dark-grey);
  cursor: pointer;
  
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}

.cv-btn::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.cv-btn:hover {
  background: var(--red);
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #ff000061;
  padding: 0px 1.5rem 0px 1.5rem;
  color: var(--white);
}
.cv-btn:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: var(--white);
}

/* End Navbar */



/* Welcome Screen */
#welcome-screen{
    background: url(pictures/pexels-adrien-olichon-2387793.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    margin-bottom: -9vh;
    z-index: 1;
}

.welcome-main {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }

  .bounce {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }
/* End Welcome Screen */

/* About Me */

.nav-tabs {
  border: 0;
  
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.nav-tabs>.nav-item>.nav-link {
  color: var(--dark-grey) !important;
  margin: 5px 25px 5px 25px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 14px;
  padding: 11px 23px;
  line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link:hover {
  background-color: transparent;
}

.nav-tabs>.nav-item>.nav-link.active {
  background-color: var(--dark-grey);
  border-radius: 30px;
  color: var(--white) !important;
}

.common-button{
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  background-color: var(--dark-grey);
  border-radius: 30px;
  cursor: pointer;
  color: var(--white) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.common-button:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.common-button, .common-button:focus, .common-button:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

article{
  padding-bottom: 25px;
}

ul {
  list-style-type: none;
}

#about-me {
  position: relative;
  width: 100%;
  z-index: 0;
  background-color: transparent;
}

#about-me:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-light-grey);
  transform: skewY(4deg);
}

img.myface{
    padding: 10vh;
}

figure {
  position: relative;
  padding: 0;
  height: 90vh;
  width: 500px;
}

figure::after {
  content: ' ';
  position: absolute;
  width: 37em;
  top: 9vh;
  left: 5em;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url(../assets/pictures/myface.jpeg);
  background-size: 100% 100%;
  filter: blur(15px) saturate(2); /* KEY */
}

h1.mytitle{
    padding-top: 20vh;
    padding-bottom: 3vh;
}

p.mydescription{
    font-size: 20px;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.kartu{
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--dark-grey)!important;
    color: var(--white);
}

.kartu img{
  padding: 20px 0px 20px 0px;
}

  @keyframes draw {
    0% {
      height: 0;
    }
  }

  #brands{
    padding: 5vh 0 5vh 0;
  }

  img.logos{
    height: 15vh;
    padding: 20px 0 20px 0;
  }
/* End About Me */

/* Work */

.work {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
}

.work ul {
  padding-top: 50px;
  position: relative;
}

.work ul li {
  margin-bottom: 20px;
  width: 23.2456140351%;
  position: relative;
}

.work ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.work ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.work ul li a:hover:before {
  top: 50%;
  opacity: 1;
}

.work ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.work ul li a:hover:after {
  opacity: 1;
}

img.work{
  height: auto !important;
}

#work{
    margin-top: -8vh;
    background-color: var(--dark-grey);
    margin-bottom: -9vh;
    padding-bottom: 16vh;
}

a.work{
  padding: 0 10px 0 10px;
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 5px;
  text-decoration: none;
}

h1.work{
    font-size: 48px;
    padding: 100px 0px 60px 0px;
    color: var(--semi-light-grey);
}

#work-title{
    padding-top: 10vh;
    color: var(--white);
}

#work-title2{
    padding-top: 3vh;
    color: var(--white);
}

#work-desc{
    color: var(--white);
    margin-right: 30px;
}

.btn {
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
}

.btn i{
  color: var(--white);
}

.btn:hover {
	background-color:var(--dark-grey);
  box-shadow: 3px 4px 10px 0px var(--white);
  color: var(--black);
}
/* End Work */

/* Contact Us */
#contactus {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}

#contactus:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--semi-light-grey);
  transform: skewY(-3deg);
  
}

#contactus h1{
    padding: 60px 0px 0px 0px;
    text-align: center;
}

#contactus h4{
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.inbound-form-wrapper{
  margin-bottom: 50px;
}


/* End Contact Us */

/* Footer */
footer{
    /* background-color: var(--dark-grey); */
    background: url(pictures/pexels-adrien-olichon-2387793.jpg);
    padding-top: 14vh;
    margin-top: -7vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer img{
    margin-bottom: 60px;
}

#ending{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
}
/* End Footer */

