@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');   

:root{
    --red:#FF0F00;
    --blue:#0037ff;
    --yellow:#FFE70E;
    --gold:#D4B02D;
    --green:#11d100;
    --purple:#CA2ACD;
    --black:#000000;
    --dark-grey:#333333;
    --grey:#737373;
    --light-grey:#8D8D8D;
    --semi-light-grey:#EBEBEB;
    --white:#FFFFFF;
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Raleway', sans-serif;
}

/* Off Canvas */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top:100px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding: 50px 50px 0 50px;
      overflow-y: auto;
      visibility: hidden;
      background-color: var(--dark-grey);
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);
    }

    .offcanvas-collapse.open .nav-link {
      font-size: xx-large;
      text-align: center;
  }
    .offcanvas-collapse.open .nav-link:hover {
        background-color: var(--white);
        color: var(--dark-grey) !important;
    }
  }

/* End Off Canvas */

/* Navbar */
.nav-link {
    color: #fff !important;
    font-size: large;
}

.primary-nav{
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.navbar-brand{
  margin: 50px 0px 50px 50px;
}

.navbar-toggler{
  margin-right: 50px;
}

.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 100px !important;
}

.shrink .navbar-brand{
  margin: 20px 0px 20px 0px;
}

.shrink .navbar-toggler{
  margin-right: 0px;
}

/* End Navbar */

/* Welcome Screen */
#welcome-screen{
    background: url(pictures/pexels-adrien-olichon-2387793.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}


.welcome-main {
    height: 750px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
  }

  .bounce {
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
  }
/* End Welcome Screen */

/* About Me */
#about-me{
    background-color: var(--semi-light-grey);
    padding-bottom: 60px;
}

img.myface{
    height: 100% !important;
    width: 100%;
    align-content: center;
}

h1.mytitle{
    padding-top: 14vh;
    padding-bottom: 6vh;
}

p.mydescription{
    font-size: 20px;
    padding-bottom: 20px;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

.kartu{
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--dark-grey)!important;
    color: var(--white);
}

.chart {
    display: table;
    table-layout: auto;
    width: 100%;
    height: 350px;
  }

  .chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 100px;
  }

  .html{
    margin: 0 20px;
    display: block;
    background: var(--red);
    animation: draw 1s ease-in-out;
  }

  .css{
    margin: 0 20px;
    display: block;
    background: var(--blue);
    animation: draw 1s ease-in-out;
  }

  .js{
    margin: 0 20px;
    display: block;
    background: var(--yellow);
    animation: draw 1s ease-in-out;
  }

  .mysqli{
    margin: 0 20px;
    display: block;
    background: var(--gold);
    animation: draw 1s ease-in-out;
  }

  .figma{
    margin: 0 20px;
    display: block;
    background: var(--green);
    animation: draw 1s ease-in-out;
  }

  .bootstrap{
    margin: 0 20px;
    display: block;
    background: var(--purple);
    animation: draw 1s ease-in-out;
  }

  .chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 20px 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
  }
  
  @keyframes draw {
    0% {
      height: 0;
    }
  }

/* End About Me */

/* Work */
#work{
    background-color: var(--dark-grey);
    padding-bottom: 60px;
}

h1.work{
    font-size: 48px;
    padding: 60px 0px 60px 0px;
    color: var(--semi-light-grey);
}

#work-title{
    padding-top: 10vh;
    color: var(--white);
}

#work-title2{
    padding-top: 3vh;
    color: var(--white);
}

#work-desc{
    color: var(--white);
    margin-right: 30px;
}

.btn {
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
}

.btn i{
  color: var(--white);
}

.btn:hover {
	background-color:var(--dark-grey);
  box-shadow: 3px 4px 10px 0px var(--white);
  color: var(--black);
}



/* End Work */

/* Contact Us */
#contactus{
    background-color: var(--semi-light-grey);
}

#contactus h1{
    padding: 60px 0px 0px 0px;
    text-align: center;
}

#contactus h4{
    padding: 0px 0px 60px 0px;
    text-align: center;
}

#contactusform{
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: var(--dark-grey);
    color: var(--semi-light-grey);
}

.buttonsend {
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
    border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px 60px 2px;
  letter-spacing: 0.02em;
  transition-duration: 0.4s;
  cursor: pointer;
    background-color: var(--semi-light-grey);
    color: black;
    border: 5px solid var(--dark-grey);

  }
  
.buttonsend:hover {
    background-color: #555555;
    color: var(--semi-light-grey);
  }
/* End Contact Us */

/* Footer */
footer{
    background-color: var(--dark-grey);
    padding-top: 60px;
}

footer img{
    margin-bottom: 60px;
}

#ending{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 31px;
}
/* End Footer */